<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Movies App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLink="/">
                    <a class="nav-link active" aria-current="page"><i class="bi bi-house" ></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="bi bi-chat"routerLink="/feedback"></i>Feedback</a>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="SearchMovieTitle">
                <button class="btn btn-outline-success" type="submit" [routerLink]="['/search/'+SearchMovieTitle]">Search</button>
                <!-- <button class="btn btn-outline-primary">Log In</button> -->
            </form>
        </div>
    </div>
</nav>