<div class="row">
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hRFY_Fesa9Q?si=jQ8HkwUKzizCKMQm"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <p>placeholder for movie details</p>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Cast
                    </div>
                    <ul class="list-group  list-group-flush">
                        <li class="list-group-item">name 1</li>
                        <li class="list-group-item">name 2</li>
                        <li class="list-group-item">name 3</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Director
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">name 1</li>
                        <li class="list-group-item">name 2</li>
                        <li class="list-group-item">name 3</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Genre
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">name 1</li>
                        <li class="list-group-item">name 2</li>
                        <li class="list-group-item">name 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>