<h1>Actors</h1>
<hr>
<br>
<div class="row justify-content-center">
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>
    </div>
    <div class="card" style="width: 150px;">
        <img src="../../../assets/Images/batmancards.png.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Actors Name</p>
            <p class="card-text">Actor's role</p>
        </div>

    </div>